html, body
{
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family:  work-sans-X, sans-serif;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;
  color: white;
  margin-top: 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  letter-spacing: 0.003em;

  /*background: linear-gradient(314deg, #000000, #ba00df, #4b00d4);*/
  /*background-size: 600% 600%;*/
  /*background: url(../images/bg.jpg) no-repeat center center fixed; */
  /*animation: BackgroundGradient 29s ease infinite;*/
}

#backgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

figure {
  width: 100%;
  margin: 0;
  float: left;
  position: relative;
  cursor: pointer;
}

figure:before,
figure:after {
  position: absolute;
}

figure:before {
  top: 50%;
  left: 50%;
  width: 72px;
  height: 72px;
  margin-top: -36px;
  margin-left: -36px;
  content: url(../images/bg.jpg);
}
figure.play:before {
  display: none;
}

.gif
{
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: 72px 72px;
    background-position: 0 0;
    height: 72px;
    left: 50%;
    position: relative;
    top: 50%;
    width: 72px
}


.background-animation {
  background: linear-gradient(314deg, #000000, #ba00df, #4b00d4);
  background-size: 600% 600%;

  animation: BackgroundGradient 29s ease infinite;
}

@keyframes BackgroundGradient {
  0%{background-position:0% 18%}
  50%{background-position:100% 83%}
  100%{background-position:0% 18%}
}



#wrap
{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 50px; /* height of thumbs (if not required set to 0) */
  height: auto; /* optionally add !important for WP version */
  width: auto;
}

.header
{
  width: 100%;
  margin: auto;
}

.slide
{
  /*background-color: #fff;*/
  width: 80%;
  max-width: 1800px;
  min-height: 75%;
  color: #ffffff;
  position: absolute;
  top: 14%;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0;
  text-align: left;
  overflow: visible;
}


.blurPanel {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);

  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.10);
  border-radius: 20px;
}


.label
{
  border-radius: 4px;
  font-family: Helvetica;
  font-size: 0.9em;
  text-align: center;
  color: #fff;
  padding: 5px;
  line-height: normal;
  padding-left: 6px;
  padding-right: 6px;
  display: inline-block;
  margin-bottom: 0.3em;
  margin-right: 0.3em;
}


/*Bullets*/

.code
{
  background-color: #6c54ad;
  content: "Script";
}

.gamedesign
{
  background-color: #7C334B;
  content: "Game Design";
}

.leveldesign
{
  background-color: #A63661;
  content: 'Level Design';
}

.vfx
{
  background-color: #C83456;
  content: "VFX";
}

.two-d
{
  background-color: #F65E43;
  content: "2D Art";
}

/*
.screenshot
{
  display: block;
  height: 360px;
  width: 640px;
  border-radius: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
}*/

.screenshot
{
  width: 65%;
  min-width: 2px;
  position:relative;
  display: block;
  float: left;
  clear: left;
  height: 0;
  padding-top: calc(0.65 * 56.25%);
  overflow: hidden;
  background-size: 100%;
  box-shadow: 4px 4px 20px -6px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin: 10px;
}

ul
{
  padding: 50px;
  font-weight: bold;
}

li { margin-left: -1em }

.video
{
  width: 65%;
  min-width: 2px;
  position:relative;
  display: block;
  float: left;
  clear: left;
  height: calc(0.35 * 56.25%);
  overflow: hidden;
  background-size: 100%;
  box-shadow: 4px 4px 20px -6px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}


/* different aspect ratios for images */
/*.threetwo
{
  width: 540px;
  height: 360px;
  margin-left: 50px;
}

.fourthree
{
  width: 480px;
  height: 360px;
  margin-left: 80px;
}

.square
{
  width: 360px;
  height: 360px;
  margin-left: 140px;
}*/

/* different aspect ratios for images */
.threetwo
{
  padding-top: calc(0.66 * 66.66%);
}

.fourthree
{
  padding-top: calc(0.66 * 75%);
}

.square
{
  width: 39%;
  padding-top: calc(0.39 * 100%);
}

/* images for the slides */
.profile-picture { background-image: url("../images/profile-picture.jpg"); margin: 10px}
.coinracer { background-image: url("../images/screenshots/screenshot_coinracer.jpg"); }
.comingSoon { background-image: url("../images/screenshots/screenshot_comingSoon.png");}




.youtube
{
  border-width: 0px;
  border-radius: 4px;
}

.screenshot iframe, .screenshot object, .screenshot embed
{
  position:absolute;
  top:0;
  left:0;
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
}

.description
{
  width: 30%;
  float: left;
  margin-left: 20px;
  height: 100%;
  overflow-y: auto;
}

.description-me
{
  width: 55%;
  height: 100%;
  float: left;
  margin-left: 20px;
  overflow-y: auto;
  /*background-color: #fff;*/
}

@media only screen and (max-width: 1280px)
{
  .description, .description-me
  {
      font-size: 0.9em;
  }
}

@media only screen and (max-width: 768px)
{
  /* hide navigation
  .rsNav
  {
    display:none; width:0 !important; height:0 !important; 
  }*/

  .video
  {
      width: 100%;
  }

  .screenshot
  {
      width: 100%;
      padding-top: calc(1 * 56.25%);
  }

  .square
  {
    width: 100%;
    padding-top: 100%;
  }

  .youtube
  {
    height: 100%;
  }

  .description, .description-me
  {
    clear: left;
    margin-top: 2em;
    margin-left: 0px;
    margin-right: 0px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: auto;
  }

  .slide
  {
   overflow-y: auto;
   height: auto;
  }

  ::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;
  }
    .rsDefault .rsArrow
  {
  width: 44px;
  }

  /*.rsDefault .rsThumbsHor {
  height: 12vw;
  }

  .rsDefault .rsThumb {
    width: 10.6vw;
    height: 10.6vw;
  }*/
}


.bold
{
  font-weight: bold;
}

.title-project
{
  font-family:  work-sans-X;
  font-size: 2.4rem;
  font-weight: normal;
  font-style: normal;
  color: white;
  margin-top: 0px;
  /*text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.4);*/
  margin-bottom: -1rem;
  padding-bottom: -1rem;
}

.intro
{
  max-width: 640px;
  min-height: 240px;
  text-align: center;
  margin: auto;
  margin-top: -50px;
}

.verticalalign
{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#title
{
  font-family: tilt-neon-X;
  font-size: 55pt;
  font-weight: normal;
  width: 100%;
  font-style: normal;
  color: white;
  margin-top: 5%;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.4);
  margin-bottom: 0px;
}

#sub-title
{
  font-family: tilt-neon-X;
  font-size: 13pt;
  font-weight: normal;
  font-style: normal;
  color: white;
  margin-bottom: 0px;
  margin-top: -0.5em;
  text-align: right;
  margin-right: 15px;
  letter-spacing: 0.003em;
}

#intro-text
{
  font-family:  work-sans-X;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;
  color: white;
  margin-bottom: 1em;
  margin-top: 2em;
  line-height: 2em;
  font-size: 1.2em;
  text-align: center;
  letter-spacing: 0.003em;
}

#intro-text a:link, #intro-text a:visited, #intro-text a
{
  color: #000;
  text-decoration: none;
}

.icon
{
  width: 32px;
  height: 32px;
  background-size: contain;
  display: inline-block;
}

.linkedin { background-image: url('../images/socials/icon_in.png'); }
.email { background-image: url('../images/socials/icon_email.png'); }
.fb { background-image: url('../images/socials/icon_fb.png'); }
.instagram { background-image: url('../images/socials/icon_instagram.png'); }

#contact
{
  display: inline-block;
  text-align: center;
  width: 288px;
}

#contact a:link, #contact a:visited, #contact a
{
  color: white;
  font-style: italic;
  text-decoration: none;
}

#contact a:hover, #contact a:active
{
  cursor: pointer;
  color: white;
  font-style: italic;
  text-decoration: underline;
}

.space
{
  margin-right: 0.5em;
}

a:link,a:visited,a
{
  /*color: #f03;*/
  color: white;
  font-style: italic;
  text-decoration: none;
  cursor: pointer;
}

a:hover,a:active
{
  text-decoration: underline;
  font-style: italic;
  cursor: pointer;
  color: white;
}


/*FONTS*/


@font-face
{
  font-family: tilt-neon-X;
  src: url('../fonts/TiltNeon-Regular.ttf'),
  url('../fonts/TiltNeon-Regular.ttf');
}


@font-face
{
  font-family: permanent-marker-regular;
  src: url('../fonts/PermanentMarker-Regular.ttf'),
  url('../fonts/PermanentMarker-Regular.ttf');
}


@font-face
{
  font-family: work-sans-X;
  src: url('../fonts/WorkSans-VariableFont_wght.ttf'),
  url('../fonts/WorkSans-VariableFont_wght.ttf');
}

.tilt-neon-X {
  font-family: "Tilt Neon", sans-serif;
  color: white;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "XROT" 0, "YROT" 0;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  color: white;
  font-weight: 400;
  font-style: normal;
}

.work-sans-X {
  font-family: "Work Sans", sans-serif;
  color: white;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
